:root {
  --green: #00856f;
  --green-light: #dce9e2;
  --beige: #fffaf1;
  --green-hover: #00453a;

  --gray: #061800;
  --paragraph: #384633;
  --white: #3e3e3e;
}

header {
  position: relative;
  background: var(--green-light);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.ul-header {
  display: flex;
  gap: 30px;
}

.ul-header li > a {
  color: var(--green);
  font-size: 1rem;
  font-family: "DM Sans";
}

.btn-header {
  padding: 10px 24px;
  border-radius: 50px;
  border: solid 1px var(--green);
  background: var(--green-light);
  color: var(--green);
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

.btn-header:hover {
  background: #009b7d;
  color: #fff;
  border-color: #fff;
}

.btn-header:active {
  cursor: pointer;
  transform: scale(0.9);
  background: #036253;
}

.header-infor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-infor > span {
  color: var(--green);
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-weight: bold;
}

.text-infor > h1 {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 3.25rem;
  margin-top: 16px;
  color: #212529;
}

.text-infor > p {
  font-family: "DM Sans";
  font-size: 1.125rem;
  color: var(--gray);
  margin-top: 24px;
}
.text-infor > button {
  padding: 10px 24px;
  border-radius: 50px;
  border: none;
  background: var(--green);
  color: var(--green-light);
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 16px;
  margin-top: 32px;
  cursor: pointer;
  transition: 0.4s;
}

.text-infor > button:hover {
  background: #009b7d;
}

.text-infor > button:active {
  cursor: pointer;
  transform: scale(0.9);
  background: #036253;
}

.card {
  padding: 64px 120px;
  background: var(--beige);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  top: 550px;
  max-width: 1360px;
  margin-bottom: 160px;
}

.card-infor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 3rem;
  color: #212529;
}

.card-infor > p {
  font-family: "DM Sans";
  color: var(--green);
  font-size: 1rem;
  margin-top: 4px;
}
