footer {
  background: var(--green);
}

.content-footer {
  padding: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-copyright img {
  margin: 0;
}

.footer-copyright p {
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-weight: regular;
  color: var(--beige);
}

.footer-redesocial {
  display: flex;
  gap: 32px;
}

.footer-redesocial img {
  margin: 0;
}
